<footer class="text-warmgray-700 bg-white body-font border-t border-warmgray-300">
  <div>
    <div class="container flex flex-col flex-wrap px-5 py-6 lg:px-20 sm:flex-row">
      <div class="flex flex-wrap items-center justify-center text-base">
        <p class="mr-5 text-sm text-center text-warmgray-500">Marlin Jayakody</p>
        <a href="/" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700"> HOME </a>
        <a href="/blog/my-first-blog" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700"> BLOG</a>
        <a href="/about" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700"> ABOUT</a>
        <a href="#" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700"> CONTACT</a>
      </div>
      <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-end">
        <p class="mr-5 text-sm text-center text-warmgray-500">
          © All rights reserved 2021
        </p>
    </div>
  </div>
</footer>

