 <header class="bg-warmgray50 container-fluid px-10 py-4 text-gray-700 body-font">
<div class="mj-main-header flex flex-row justify-between items-center">
    <div class="logo"><img src="/assets/mjlogo.svg" alt="marlin jayakody logo"></div>
<div class="mj-main-header-links">
    <a href="" class="font-main text-lg tracking-wide">Download Resume</a>
    
    <a href="" role="button" class="rounded-full py-3 px-6 bg-warmgray-800 font-main tracking-wider text-lg text-white ml-8 hover:bg-warmgray-700 transition duration-300">Lets Connect</a>
</div>
</div>
            <div class="container-fluid flex flex-col flex-wrap px-10 py-4 mx-auto md:items-center md:flex-row border-b-2 border-warmgray-900 ">
                <nav class="flex flex-wrap items-center justify-center text-base">
                    <a href="/" class="mr-14 text-md font-semibold hover:text-gray-800 uppercase">Home</a>
                    <a href="/contact" class="mr-14 text-md font-semibold hover:text-gray-800 uppercase">Contact</a>
                    <a href="/about" class="mr-0 text-md font-semibold  hover:text-gray-800 uppercase">About</a>
                </nav>
            </div>
        </header>
