<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/assets/main.bundle.css">
      <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-primary">
{% include 'header.njk' %}
<main class="container-fluid flex-grow">
 {{ content | safe }}
 </main>
{% include 'footer.njk' %}  



</body>
</html>
