<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/assets/main.bundle.css">
      <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
      <script src="https://unpkg.com/phosphor-icons"></script>
  <script src="/assets/main.bundle.js" defer></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3EM5FBLYTC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3EM5FBLYTC');
</script>
  <title>{{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body class="flex flex-col bg-primary">
{% include 'header.njk' %}
<main class=" flex-grow">
 {{ content | safe }}
 </main>
{% include 'footer.njk' %}  



</body>
</html>
