---
title: About
layout: layout.njk
---


  <main class="container py-8">

    <div class="py-8 mx-auto">
        <article class="p-8 mx-auto md:mt-0 prose-lg sm:prose-xl md:prose-xl xl:prose-2xl max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-screen-sm xl:max-w-screen-md 2xl:max-w-screen-lg bg-white">
          <img class=" object-cover block  border-1 border-warmgray-900 w-32 h-32 text-center rounded-full" src="/assets/mjdp.png" alt="Profile image"/>  
          <h2 class="text-left text-lg font-serif">Hi I’m Marlin Jayakody.</h2>
            <div class="font-normal leading-10 text-2xl">
            <p>I’m a Software Product Designer, UX Process Consultant, UX Design Coach & Mentor. I have close to a decade of experience in the ICT Industry and have been recognised for my work both locally and internationally. 
            </p>
            <p>I’m specialised mainly in enterprise level software product design which deals across multiple domains such as banking & finance, enterprise resource planning, aviation, trading to name some. I’m mostly Identified as a leader who empowers UX teams and building a UX culture within organisations, actively striving towards evangelising the knowledge on user experience and sharing the experience with professionals through various channels.</p>
            <p>I have followed my post graduate education in business psychology from Herriot Watt University, UK and I have fundamental education in design and multimedia. I am a certified product owner from Scrum Alliance and Followed Complete Product Management with Tarigo.</p>
            <h3 class="text-left font-serif">What I <u>can</u> help you with.</h3>
            <div class="pl-10">
                <ol class="list-decimal pl-0">
                    <li style="padding-left: 0;">Identifying your user-groups through quantitative or qualitative research methods.</li>
                    <li style="padding-left: 0;">Software product design and revamping.</li>
                    <li style="padding-left: 0;">Creating journey maps to help achieve your user’s goals through using your digital product.</li>
                    <li style="padding-left: 0;">Conduct design workshops and conducting design sprints (A maximum of four, 6 hour session following a proven design sprint methodology).</li>
                    <li style="padding-left: 0;">Creating design systems or UI libraries based on atomic design principles. </li>
                    <li style="padding-left: 0;">Creating interactive prototypes using tools such as Figma or Sketch app.</li>
                    <li style="padding-left: 0;">Testing prototypes with users and reiterate designs.</li>
                    <li style="padding-left: 0;">Creating funnels, analyse user behavioural data, creating UX matrix and KPIs to improve the experience of your digital product. </li>
                    <li style="padding-left: 0;">Conducting usability and accessibility audits of your application.</li>
                    <li style="padding-left: 0;">Create a UX culture in your organisation and a UX process which is practical and which would work best for your organisation.</li>
                    <li style="padding-left: 0;">Build UX teams and mentor team members.  </li>
                  </ol>
            </div>
            <div class="pl-10">
            <h3 class="text-left font-serif">What I <u>can’t</u> help you with.</h3>
            <ol class="list-decimal pl-0">
                <li style="padding-left: 0;">Crating user experience purely depending on visual design aspects.</li>
                <li style="padding-left: 0;">Creating user experience where users are not involved in the process.</li>
                <li style="padding-left: 0;">Creating visual designs purely based only on a design brief (I cant help you to create a good experience for a user by just working as a graphic designer. To create an adequate experience for a user, there are a few more steps involved which goes beyond beatification of the application.</li>
                <li style="padding-left: 0;">Developing frontend pages using JavaScript frameworks.</li>
                <li style="padding-left: 0;">Conducting business on weekends.(I appreciate family time and work life balance. I won’t be available for commissions during weekends.)</li>
              </ol>
            </div>
        </div>
      
          
        </article>  
      </div>
  </main>
