---
title: Home
layout: layout.njk
---
     <section class=" text-gray-700 body-font">
     <h1 class="text-5xl text-center">Welcome to the official website of Marlin Jayakody</h1>
     <p>done with netlify and 11ty</p>
          
        </section>