---
title: Home
layout: layout.njk
---
<div class="container">


<section class=" text-gray-700 body-font">

    <div class="container mt-6 p-8 pb-0" style="background-color: #eaeaea;">
        <div class="mjp-content flex flex-col md:flex-row items-center justify-between">
            <div class="mjp-text w-full md:w-2/4 pb-4">
                <h1 class="font-serif text-5xl xl:text-7xl ">Hi, I’m <br> Marlin Jayakody</h1>
                <p class="mt-4 text-lg text-sans ">Software Product Designer, UX Process Consultant, UX Design Coach &
                    Mentor, Specialised in Enterprise Software Products. <strong> Currently based in Colombo, Sri
                        Lanka.</strong>🇱🇰
                </p>
            </div>
            <!-- <div class="mjp-profile-pic">
                <img src="assets/mjdp.png" srcset="assets/mjdp@2x.png 2x" alt="" width="572" height="">
            </div> -->
        </div>
    </div>
</section>
<section>
    <div class="container flex flex-col md:flex-row px-0 j">
        <div class="mjp-blog-box mt-14 w-full lg:w-1/2 justify-center">
            <a href="/blog/my-first-blog/">
                <div
                    class="border-4 border-warmgray-900 ml-0 font-mono text-5xl h-auto p-8 pl-14 m-3 transition duration-300 hover:bg-warmgray-200 font-bold ">
                    අපේ UX පන්තිය
                    <div class="text-3xl mt-5 align-text-middle">එන්න ඉගෙනගමු <i
                            class="ph-arrow-right ph-lg align-middle relative top-2"></i></div>
                </div>
            </a>
        </div>
        <div class="mjp-about-box md:mt-14 mt-3 w-full lg:w-1/2 justify-center text-left">
            <a href="/about">
                <div
                    class="bg-warmgray-900 text-white ml-0 font-serif text-5xl h-auto py-10 p-8 pl-14 m-3 transition duration-300 hover:bg-warmgray-600 font-bold">
                    About Me
                    <div class="text-3xl mt-5 align-text-middle">Brewing in process ⌛</div>
                </div>
            </a>
        </div>
    </div>
    <div class="container text-center mt-8 font-bold mb-8">
        More awesome things to come 🖖
    </div>
</section>
</div>