---
title: Home
layout: layout.njk
---
     <section class=" text-gray-700 body-font">
    
       <div class="container mt-6 p-8 pb-0" style="background-color: #eaeaea;">
        <div class="mjp-content flex flex-col md:flex-row items-center justify-between">
        <div class="mjp-text w-full md:w-2/4 pb-4">
            <h1 class="font-serif text-5xl xl:text-7xl ">Hi, I’m <br> Marlin Jayakody</h1>
            <p class="mt-4 text-lg text-sans ">Softwear Product Designer Specialized on enterprise softwear products, UX Design Coach & Mentor, UX Process consultant. <strong> Currently based in Colombo, Sri Lanka.</strong>🇱🇰
            </p>
        </div>
        <div class="mjp-profile-pic">
            <img src="assets/mjdp.png" srcset="assets/mjdp@2x.png 2x"alt="" width="572" height="">
        </div>
        </div>

       </div>
        </section>

